body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url('../images/monument_east_baltimore_maryland.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.main{
  flex-grow: 1; /* the helps to stick the footer to the bottom */
}
.header {
  background-color: rgba(255, 255, 255, 0.32);
  padding: 1rem;
  text-align: center;
  color: #002855; /* Dark blue text */
}

header>img {
  max-width: 450px;
  margin-bottom: 0.5rem;
  background: none;
}
.header h1 {
  font-size: 1.8rem;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  flex-wrap: wrap;
  column-gap: 50px;
}
.icon-container {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.72);
  width: 550px;
  height: 350px;
  border-radius: 10px;
}
.icon {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}
/*.icon:hover {*/
/*  transform: scale(1.1);*/
/*  background-color: #ffffff;*/
/*}*/
.icon>img {
  max-width: 100%;
  max-height: 100%;
  background: white;
  border-radius: 7px;
}
.icon span {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  display: block;
}
.icon-text {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  margin: 15px;
}
.footer {
  min-height: 50px;
  font-size: .75rem;
  align-content: space-evenly;
  text-align: center;
  padding-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.90);
  position: relative;
}
.developer-credit{
  margin-top: 5px;
}
.credit {
  margin: 5px 40px;
  text-align: center;
}
.copyright {
  margin-top: 1px;
}


@media (max-width: 600px) {
  body{
    background-image: url('../images/monument_east_baltimore_maryland.jpg');
    background-size: 500vw 160vh;
  }
  .title {
    font-size: 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .icon-container{
    /*padding: 1rem;*/
    margin: 0.5rem auto;
    width: 250px;
  }
  .icon {
    text-align: center;
    border-radius: 5px;
  }
  .icon img {
    max-width: 150px;
    max-height: 150px;
  }
  .icon span {
    font-size: 0.8rem;
  }
}
